body {
    background-color: whitesmoke;
}

.song-card {

    width: 600px; 
    margin: 100px auto; 

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);

}

.song-card-song-cover-art {
    width: 250px;
}

.song-card-song-contents {
    margin: 0px auto; 
}

.song-card-exit {
    margin-bottom: 230px;
    padding-right: 2px;
    color: red;
}

.info-details {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.info-details > img {

    height: 18px;
    width: 18px;
    margin-right: 5px;

}